<!DOCTYPE html>
<html>
<head>
	<title>Меню</title>
	<style>
		body {
			font-family: Arial, sans-serif;
			background-color: #f2f2f2;
			color: #333;
		}
		h1 {
			text-align: center;
			font-size: 36px;
			margin-top: 50px;
		}
		table {
			margin: 0 auto;
			border-collapse: collapse;
			background-color: #fff;
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
		}
		th, td {
			padding: 12px;
			text-align: center;
		}
		th {
			background-color: #333;
			color: #fff;
		}
		tr:nth-child(even) {
			background-color: #f2f2f2;
		}
	</style>
</head>
<body>
	<h1>Меню</h1>
	<table border="2">
		<thead>
			<tr>
				<th>Айди</th>
				<th>Назва</th>
				<th>Опис</th>
				<th>Ціна</th>
				<th>Фото</th>
			</tr>
		</thead>
		<tbody>
			{% for category in category_list %}
			<tr>
				<td>{{ category.id }}</td>
				<td>{{ category.name }}</td>
				<td>{{ category.description }}</td>
				<td>{{ category.price }}</td>
				<td><img src="{{ category.image }}" alt="{{ category.name }}"></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>
