<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Категорії</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'order_by_status' %}">Головна</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'order_by_status' %}">Головна</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_menu_list' %}">Меню</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'new_order' %}">Створити нове замовлення</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tables' %}">Вільні столики</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'salary' %}">Зарплата</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'category_list' %}">Категорії</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_order_list' %}">Всі замовлення</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1>Категорії</h1>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Айди</th>
                    <th>Назва категорії</th>
                    <th>Назва блюда</th>
                    <th>Опис блюда</th>
                    <th>Ціна</th>
                </tr>
            </thead>
            <tbody>
                {% for category in category_list %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td>{{ category.name1 }}</td>
                    <td>{{ category.description }}</td>
                    <td>{{ category.price }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>

