<!DOCTYPE html>
<html>
<head>
	<title>Категорії</title>
	<style>
		body {
			font-family: Arial, sans-serif;
			background-color: #f2f2f2;
			color: #333;
		}
		h1 {
			text-align: center;
			font-size: 36px;
			margin-top: 50px;
		}
		table {
			margin: 0 auto;
			border-collapse: collapse;
			background-color: #fff;
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
		}
		th, td {
			padding: 12px;
			text-align: center;
		}
		th {
			background-color: #333;
			color: #fff;
		}
		tr:nth-child(even) {
			background-color: #f2f2f2;
		}
	</style>
</head>
<body>
    <div style="margin-bottom: 50px;">
        <a href="{% url 'view_menu_list' %}" style="margin-right: 10px;">Меню</a>
        <a href="{% url 'new_order' %}" style="margin-right: 10px;">Створити нове замовлення</a>
        <a href="{% url 'tables' %}" style="margin-right: 10px;">Вільні столики</a>
        <a href="{% url 'salary' %}" style="margin-right: 10px;">Зарплата</a>
        <a href="{% url 'category_list' %}" style="margin-right: 10px;">Категорії</a>
        <a href="{% url 'view_order_list' %}" style="margin-right: 10px;">Всі замовлення</a>
    </div>
	<h1>Категорії</h1>
	<table border="2">
		<thead>
			<tr>
				<th>Айди</th>
				<th>Назва категорії</th>
				<th>Назва блюда</th>
				<th>Опис блюда</th>
				<th>Ціна</th>
			</tr>
		</thead>
		<tbody>
			{% for category in category_list %}
			<tr>
				<td>{{ category.id }}</td>
				<td>{{ category.name }}</td>
				<td>{{ category.name1 }}</td>
				<td>{{ category.description }}</td>
				<td>{{ category.price }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>
