<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Створити нове замовлення</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
			font-family: Arial, sans-serif;
			background-color: #f2f2f2;
			color: #333;
		}
		h1 {
			text-align: center;
			font-size: 36px;
			margin-top: 50px;
		}
    </style>
</head>
<body>
    <div style="margin-bottom: 50px;">
        <a href="{% url 'view_menu_list' %}" style="margin-right: 10px;">Меню</a>
        <a href="{% url 'new_order' %}" style="margin-right: 10px;">Створити нове замовлення</a>
        <a href="{% url 'tables' %}" style="margin-right: 10px;">Вільні столики</a>
        <a href="{% url 'salary' %}" style="margin-right: 10px;">Зарплата</a>
        <a href="{% url 'category_list' %}" style="margin-right: 10px;">Категорії</a>
        <a href="{% url 'view_order_list' %}" style="margin-right: 10px;">Всі замовлення</a>
    </div>
    <div class="container">
        <div class="row justify-content-left">
            <div class="col-md-8">
                <h1>Створити нове замовлення</h1>
                <form method="post">
                    {% csrf_token %}
                    <label for="table_id_id">Номер столика:</label>
                    <input type="number" name="table_id_id" required><br><br>
                    <label for="employee_id">ІД працівника:</label>
                    <input type="number" name="employee_id" required><br><br>
                    <label for="status_id">Статус:</label>
                    <input type="number" name="status_id" required><br><br>
                    <label>Menu Items:</label><br>
                    {% for item in menu_items %}
                    <input type="checkbox" name="item" value="{{ item.id }}"> {{ item.name }} - {{ item.price }}<br>
                    {% endfor %}
                    <br>
                    <label>Quantities:</label><br>
                    {% for item in menu_items %}
                    <input type="number" name="quantity" value="0" min="0" max="10"><br>
                    {% endfor %}
                    <br>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>