<!DOCTYPE html>
<html>
<head>
	<title>Статуси замовлень</title>
	<!-- Add the following line to include Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
			font-family: Arial, sans-serif;
			background-color: #f2f2f2;
			color: #333;
		}
		h1 {
			text-align: center;
			font-size: 36px;
			margin-top: 50px;
		}
        table {
            table-layout: fixed;
            width: 100%;
}

    </style>
</head>
<body>
    <div style="margin-bottom: 50px;">
        <a href="{% url 'view_menu_list' %}" style="margin-right: 10px;">Меню</a>
        <a href="{% url 'new_order' %}" style="margin-right: 10px;">Створити нове замовлення</a>
        <a href="{% url 'tables' %}" style="margin-right: 10px;">Вільні столики</a>
        <a href="{% url 'salary' %}" style="margin-right: 10px;">Зарплата</a>
        <a href="{% url 'category_list' %}" style="margin-right: 10px;">Категорії</a>
        <a href="{% url 'view_order_list' %}" style="margin-right: 10px;">Всі замовлення</a>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2 style="clear: both;">Готується</h2>
          <table class="table">
            <thead>
              <tr>
                <th>ІД</th>
                <th>Номер столика</th>
                <th>Блюдо</th>
                <th>Кількість</th>
                <th>Дата створення</th>
                <th>Сума</th>
                <th>Статус</th>
                <th>Робітник</th>
              </tr>
            </thead>
            <tbody>
              {% for order in order_by_status %}
              <tr>
                <td><a href="{% url 'order_detail' order_id=order.id %}">{{ order.id }}</a></td>
                <td><a href="{% url 'order_detail_by_table_number' table_number=order.table_number %}">{{ order.table_number }}</a></td>
                  <td>{{ order.name }}</td>
                <td>{{ order.quantity }}</td>
                <td>{{ order.created_at }}</td>
                <td>{{ order.total }}</td>
                  <td><a href="{% url 'update_order_status' order_id=order.id %}"> {{ order.status }}</a></td>
                <td>{{ order.employee }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col-md-8">
          <h2 style="clear: both;">Готово</h2>
          <table class="table">
            <thead>
              <tr>
                <th>ІД</th>
                <th>Номер столика</th>
                <th>Блюдо</th>
                <th>Кількість</th>
                <th>Дата створення</th>
                <th>Сума</th>
                <th>Статус</th>
                <th>Робітник</th>
              </tr>
            </thead>
            <tbody>
              {% for order in order_by_status_2 %}
              <tr>
                <td><a href="{% url 'order_detail' order_id=order.id %}">{{ order.id }}</a></td>
                <td><a href="{% url 'order_detail_by_table_number' table_number=order.table_number %}">{{ order.table_number }}</a></td>
                <td>{{ order.name }}</td>
                <td>{{ order.quantity }}</td>
                <td>{{ order.created_at }}</td>
                <td>{{ order.total }}</td>
                <td><a href="{% url 'update_order_status_and_table' order_id=order.id %}"> {{ order.status }}</a></td>
                <td>{{ order.employee }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

	<!-- Add the following line to include Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>