<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<title>Зарплати</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'order_by_status' %}">Головна</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'order_by_status' %}">Головна</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_menu_list' %}">Меню</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'new_order' %}">Створити нове замовлення</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tables' %}">Вільні столики</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'salary' %}">Зарплата</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'category_list' %}">Категорії</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_order_list' %}">Всі замовлення</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 mt-5">
                <h1 class="text-center mb-4">Зарплати</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Ім’я</th>
                            <th>Фамілія</th>
                            <th>Зарплата</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for s in salary %}
                        <tr>
                            <td>{{ s.firstname }}</td>
                            <td>{{ s.secondname }}</td>
                            <td>{{ s.salary }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
